@font-face {
    font-family: Homemade;
    src: url(/fonts/HomemadeApple-Regular.ttf)
}

.main {
    background-image: url("/img/oldpaper2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: crimson;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: Homemade;
    font-size: 16pt;
    padding: 20px;
}