/*
Esquema de cores
cor 1 #071a52
cor 2 #086972
cor 3 #17b978
cor 4 #a7ff83
*/

@font-face {
    font-family: Homemade;
    src: url(/fonts/HomemadeApple-Regular.ttf)
}

@font-face {
    font-family: JustAnotherHand;
    src: url(/fonts/JustAnotherHand-Regular.ttf)
}

@font-face {
    font-family: PatrickHand;
    src: url(/fonts/PatrickHand-Regular.ttf)
}

@font-face {
    font-family: LaBelleAurore;
    src: url(/fonts/LaBelleAurore-Regular.ttf)
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url(/fonts/ShadowsIntoLight-Regular.ttf)
}

@font-face {
    font-family: LongCang;
    src: url(/fonts/LongCang-Regular.ttf)
}

@font-face {
    font-family: Moonrise;
    src: url(/fonts/Moonrising.ttf);
}

@font-face {
    font-family: Sailer;
    src: url(/fonts/Lightly\ Sailler\ dafont.otf);
}

@media (max-width:600px) {
    .nav {
        display: flexbox;
    }
}

@media (min-width:601px) {
    .nav {
        display: flex;
    }
}

.fonte-1 {
    font-family: Homemade;
    font-size: 14pt;
}

.fonte-2 {
    font-family: JustAnotherHand;
    font-size: 18pt;
}

.fonte-3 {
    font-family: PatrickHand;
    font-size: 12pt;
}

.fonte-4 {
    font-family: LaBelleAurore;
    font-size: 16pt;
}

.fonte-5 {
    font-family: LongCang;
    font-size: 26pt;
}

.fonte-6 {
    font-family: ShadowsIntoLight;
    font-size: 16pt;
}

.fonte-7 {
    font-family: Moonrise;
    font-size: 16pt;
}

header {
    background: url(/img/caderno.jpg);
    background-size: cover;
    color: navy;
    border: 3px darkgreen solid;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.grid-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.gridHeader {
    justify-self: center;
    width: 100%;
    text-align: center;
}

.gridMain {
    grid-area: main;
    margin-top: 10px;
    background: url(/img/paperbkg.jpg);
    background-size: cover;
    padding: 10px 20px;
    border: 3px darkgreen solid;
    border-radius: 25px;
}
.gridMain h1{
    text-decoration: underline;
    text-shadow: darkolivegreen 10px;
}
.nav a {
    text-decoration: none;
    width: 20%;
}

.nav div {
    text-align: center;
    padding: 3px;
    margin: 5px;
    font-weight: bold;
    color: navy;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}